{% extends 'base.html'%}
{% load widget_tweaks %}

{% block content %}

<div style="">
		<h1>Register</h1>
	<form method="post">
		{% csrf_token %}
		 {% if form.errors %}
            <div style="color: red;">
                Please correct the following errors:
                <ul>
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

		<div class="form-group mb-3">
			<label class="label" for="name">Username</label>
			{% render_field form.username class='form-control' placeholder='Username'  %}
		</div>
		<div class="form-group mb-3">
			<label class="label" for="password">Password</label>
			{% render_field form.password1 class='form-control' placeholder='Password'  %}
		</div>
		<div class="form-group mb-3">
			<label class="label" for="password">Password</label>
			{% render_field form.password2 class='form-control' placeholder='Password'  %}
		</div>
		<button type="submit">Register</button>
	</form>
</div>

{% endblock content %}
